// |||||||  SASS VARIABLES  |||||||

$default-primary: #ddd;
$default-dark: #333;
$default-light: #fff;
$shadow: 0 1px 5px rgba(104,104,104,0.8);

$red: rgb(189,9,9);
$green: rgb(0,128,0);
$blue: rgb(30,144,255);
$purple: rgb(147,112,216);





$background: linear-gradient(55deg, rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%,
rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(291deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, 
rgba(105, 105, 105, 0.02) 28.572%,rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 
71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),linear-gradient(32deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 
12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03)
 62.5%,rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, rgba(216, 216, 216, 0.03) 100%),linear-gradient(312deg, rgba(113, 113, 113, 0.01) 
 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,
 rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),
 linear-gradient(22deg, rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, 
 rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),linear-gradient(80deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, 
 rgba(114, 114, 114, 0.02) 28.572%,rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,rgba(74, 74, 74, 0.02) 57.144%, 
 rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(257deg, rgba(72, 72, 72, 0.03) 0%, 
 rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, 
 rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),linear-gradient(47deg, rgba(191, 191, 191, 0.01) 0%, 
 rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,
 rgba(230, 230, 230, 0.01) 66.668%, rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),linear-gradient(90deg, #FFF,#FFF);

// |||| MIXINS |||| //


// THEME BUTTONS //

@mixin theme-before {
    content: '';
    position: absolute;
    top: 01px;
    left: 0.5px;
    bottom: 0.5px;
    width: 50%;
    
}

@mixin theme-span-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    animation: animate1 1.5s linear infinite paused;
    opacity: 0;
}

@mixin theme-span-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5px;
    height: 100%;
    animation: animate2 1.5s linear infinite paused;
    opacity: 0;
}

@mixin theme-span-three {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    animation: animate3 1.5s linear infinite paused;
    opacity: 0;
    
}

@mixin theme-span-four {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5px;
    height: 100%;
    animation: animate4 1.5s linear infinite paused;
    opacity: 0;
}

@mixin active-focus {
    color: #fff;
    font-weight: bold;
}


// ||||| CSS ||||| //


/* ||| HOME PAGE ||| */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $default-dark;
}


    body {
        background-image: $background;
        background-size: cover;
        background-attachment: fixed;
        margin: 30px 50px;
        line-height: 1.4;
        margin-bottom: 100px; // to accommodate footer + a bit extra
    }

        .wrapper {
 
            display: grid;
            grid-gap: 20px;
        }

            .main-nav ul {
                display: grid;
                grid-gap: 20px;
                padding: 0;
                list-style: none;
                grid-template-columns: repeat(4, 1fr);
            }

                .main-nav a {
                    background: $default-primary;
                    display: block;
                    text-decoration: none;
                    padding: 0.8rem;
                    text-align: center;
                    color: $default-dark;
                    text-transform: uppercase;
                    font-size: 1.1 rem;
                    box-shadow: $shadow;
                    
                }

                    .main-nav a:hover {
                        background: $default-dark;
                        color: $default-primary;
                        font-size: 1.3;
                        font-weight: bold;
                    }

            
 

                .showcase {
                    // grid-area: showcase;
                    min-height: 400px;
                    background-color: rgba(0,0,0,0.5);
                    padding: 3rem; 
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    box-shadow: $shadow;  
                    text-shadow: 2px 2px rgba(0,0,0,0.5);
                }

                    .showcase h1 {
                        color: $default-light;
                        font-size: 4rem;
                        margin-bottom: 0;
                    }

                    .showcase p {
                        font-size: 1.3rem;
                        margin-top: 0;
                        color: $default-light;
                    }

                    .theme-buttons {
                        position: relative;
                        display: grid;
                        grid-gap: 10px;
                        grid-template-areas: 
                        'theme-button theme-button theme-button theme-button theme-button'
                    }

                        .theme-buttons .btn {
                            height: 20px;
                            width: 80px;
                            padding: 10px 20px;
                            text-align: center;
                            line-height: 20px;
                            text-shadow: none;
                        }

                        #red{
                            color: rgb(189, 9, 9);
                            border: none;
                        }

                        #red::before {
                            @include theme-before();
                            background: rgba(255, 0, 0, 0.05);
                        }

                        #red span:nth-child(1) {
                            @include theme-span-one();
                            background: linear-gradient(to right, rgba(0,0,0,0.5), #bd0909, rgba(0,0,0,0.5));
                        }

                        #red span:nth-child(2) {
                            @include theme-span-two();
                            background: linear-gradient(to bottom, rgba(0,0,0,0.5), #bd0909, rgba(0,0,0,0.5));
                        }

                        #red span:nth-child(3) {
                            @include theme-span-three();
                            background: linear-gradient(to left, rgba(0,0,0,0.5), #bd0909, rgba(0,0,0,0.5)); 
                        }

                        #red span:nth-child(4) {
                            @include theme-span-four();
                            background: linear-gradient(to top, rgba(0,0,0,0.5), #bd0909, rgba(0,0,0,0.5));
                        }

                            #red:hover span:nth-child(1),
                            #red:hover span:nth-child(2),
                            #red:hover span:nth-child(3),
                            #red:hover span:nth-child(4){
                                opacity: 100;;
                                animation-play-state: running;
                            }

                        #red:active, #red:focus {
                            background: #bd0909;
                            @include active-focus();
                        }

                        #red:active, #red:focus span:nth-child(1),
                        #red:active, #red:focus span:nth-child(2),
                        #red:active, #red:focus span:nth-child(3),
                        #red:active, #red:focus span:nth-child(4){
                            opacity: 0;
                        }

                
                       
                        #green{
                            color: rgb(0, 128, 0);
                            border: none;
                        }

                        #green::before {
                            @include theme-before();
                            background: rgba(0, 128, 0, 0.05);
                        }

                        #green span:nth-child(1) {
                            @include theme-span-one();
                            background: linear-gradient(to right, rgba(0,0,0,0.5), #008000, rgba(0,0,0,0.5));
                        }

                        #green span:nth-child(2) {
                            @include theme-span-two();
                            background: linear-gradient(to bottom, rgba(0,0,0,0.5), #008000, rgba(0,0,0,0.5));
                        }

                        #green span:nth-child(3) {
                            @include theme-span-three();
                            background: linear-gradient(to left, rgba(0,0,0,0.5), #008000, rgba(0,0,0,0.5)); 
                        }

                        #green span:nth-child(4) {
                            @include theme-span-four();
                            background: linear-gradient(to top, rgba(0,0,0,0.5), #008000, rgba(0,0,0,0.5));
                        }

                            #green:hover span:nth-child(1),
                            #green:hover span:nth-child(2),
                            #green:hover span:nth-child(3),
                            #green:hover span:nth-child(4){
                                opacity: 100;;
                                animation-play-state: running;
                            }

                        #green:active, #green:focus {
                            background: #008000;
                            @include active-focus();
                        }

                        #green:active, #green:focus span:nth-child(1),
                        #green:active, #green:focus span:nth-child(2),
                        #green:active, #green:focus span:nth-child(3),
                        #green:active, #green:focus span:nth-child(4){
                            opacity: 0;
                        }

                        

                        #blue{
                            color: rgb(30, 144, 255);
                            border: none;
                        }

                        #blue::before {
                            @include theme-before();
                            background: rgba(30, 144, 255, 0.05);
                        }

                        #blue span:nth-child(1) {
                            @include theme-span-one();
                            background: linear-gradient(to right, rgba(0,0,0,0.5), #1e90ff, rgba(0,0,0,0.5));
                        }

                        #blue span:nth-child(2) {
                            @include theme-span-two();
                            background: linear-gradient(to bottom, rgba(0,0,0,0.5), #1e90ff, rgba(0,0,0,0.5));
                        }

                        #blue span:nth-child(3) {
                            @include theme-span-three();
                            background: linear-gradient(to left, rgba(0,0,0,0.5), #1e90ff, rgba(0,0,0,0.5)); 
                        }

                        #blue span:nth-child(4) {
                            @include theme-span-four();
                            background: linear-gradient(to top, rgba(0,0,0,0.5), #1e90ff, rgba(0,0,0,0.5));
                        }

                            #blue:hover span:nth-child(1),
                            #blue:hover span:nth-child(2),
                            #blue:hover span:nth-child(3),
                            #blue:hover span:nth-child(4){
                                opacity: 100;;
                                animation-play-state: running;
                            }

                        #blue:active, #blue:focus {
                            background: #1e90ff;
                            @include active-focus();
                        }

                        #blue:active, #blue:focus span:nth-child(1),
                        #blue:active, #blue:focus span:nth-child(2),
                        #blue:active, #blue:focus span:nth-child(3),
                        #blue:active, #blue:focus span:nth-child(4){
                            opacity: 0;
                        }

                        #purple{
                            color: #9370d8;
                            border: none;
                        }

                        #purple::before {
                            @include theme-before();
                            background: rgba(147, 112, 216, 0.05);
                        }

                        #purple span:nth-child(1) {
                            @include theme-span-one();
                            background: linear-gradient(to right, rgba(0,0,0,0.5), #9370d8, rgba(0,0,0,0.5));
                        }

                        #purple span:nth-child(2) {
                            @include theme-span-two();
                            background: linear-gradient(to bottom, rgba(0,0,0,0.5), #9370d8, rgba(0,0,0,0.5));
                        }

                        #purple span:nth-child(3) {
                            @include theme-span-three();
                            background: linear-gradient(to left, rgba(0,0,0,0.5), #9370d8, rgba(0,0,0,0.5)); 
                        }

                        #purple span:nth-child(4) {
                            @include theme-span-four();
                            background: linear-gradient(to top, rgba(0,0,0,0.5), #9370d8, rgba(0,0,0,0.5));
                        }

                            #purple:hover span:nth-child(1),
                            #purple:hover span:nth-child(2),
                            #purple:hover span:nth-child(3),
                            #purple:hover span:nth-child(4){
                                opacity: 100;;
                                animation-play-state: running;
                            }

                        #purple:active, #purple:focus {
                            background: rgb(147, 112, 216);
                            @include active-focus();
                        }

                        #purple:active, #purple:focus span:nth-child(1),
                        #purple:active, #purple:focus span:nth-child(2),
                        #purple:active, #purple:focus span:nth-child(3),
                        #purple:active, #purple:focus span:nth-child(4){
                            opacity: 0;
                        }



                        #default{
                            color: $default-light;
                            border: none;
                        }

                        #default::before {
                            @include theme-before();
                            background: rgba(221, 221, 221, 0.05);
                        }

                        #default span:nth-child(1) {
                            @include theme-span-one();
                            background: linear-gradient(to right, rgba(0,0,0,0.5), $default-light, rgba(0,0,0,0.5));
                        }

                        #default span:nth-child(2) {
                            @include theme-span-two();
                            background: linear-gradient(to bottom, rgba(0,0,0,0.5), $default-light, rgba(0,0,0,0.5));
                        }

                        #default span:nth-child(3) {
                            @include theme-span-three();
                            background: linear-gradient(to left, rgba(0,0,0,0.5), $default-light, rgba(0,0,0,0.5)); 
                        }

                        #default span:nth-child(4) {
                            @include theme-span-four();
                            background: linear-gradient(to top, rgba(0,0,0,0.5), $default-light, rgba(0,0,0,0.5));
                        }

                            #default:hover span:nth-child(1),
                            #default:hover span:nth-child(2),
                            #default:hover span:nth-child(3),
                            #default:hover span:nth-child(4){
                                opacity: 100;;
                                animation-play-state: running;
                            }

                        #default:active, #default:focus {
                            background: $default-primary;
                            color: $default-dark;
                            font-weight: bold;
                        }

                        #default:active, #default:focus span:nth-child(1),
                        #default:active, #default:focus span:nth-child(2),
                        #default:active, #default:focus span:nth-child(3),
                        #default:active, #default:focus span:nth-child(4){
                            opacity: 0;
                        }


                       
            .info {
                background-color: $default-primary;
                box-shadow: $shadow;
                display: block;
                padding: 3rem;
            }                

            
            .boxes {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }

                .boxes a {
                    text-decoration: none;
                    
                }
                
                

                .boxes a:visited {
                    color: $default-dark;
                }

                .box {
                    background: rgba($default-primary,0.5);
                    text-align: center;
                    padding: 1.5rem 2rem;
                    box-shadow: $shadow;
                }

        
          

            .portfolio {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
              }

                .portfolio img {
                    width: 100%;
                    box-shadow: $shadow;
                }

                .featured-project-icon {
                    height: 120px;
                    border-radius: 5px;
                }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 80px;
                text-align: center;
                background-color: $default-dark;
                color: $default-light;
                margin-bottom: 5px;
                line-height: 10px;
                
            
                            
                .fa-github {
                    color: $default-primary;
                }

                    .fa-github:hover {
                        color: $default-light;
                    }
                

                .fa-linkedin {
                    color: $default-primary;
                    margin-left: 5px;
                }

                .fa-linkedin:hover {
                        color: $default-light;
                }       
                
            }
            
           
        
            .btn {
                background: $default-dark;
                color: $default-light;
                padding: 0.6rem 1.3rem;
                text-decoration: none;
                border: 0;
                position: relative;
                overflow: hidden;
            }

            .info-btn {
                background: $default-dark;
                color: $default-light;
                height: 20px;
                width: 80px;
                padding: 10px 20px;
                text-decoration: none;
                border: 0;
                position: relative;
                overflow: hidden;
                
            }
        
            img {
                max-width: 100%;
            }
    

/*||| ABOUT ME |||*/ 

.about-container {
    background-color: rgba(0,0,0,0.5);
    color: $default-primary;
    padding: 1rem;
    height: 75vh;
    width: 60vw;
    margin: 0 auto; 
}

.about-title {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.about-description {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 1.3rem;
}


/*||| PROJECTS |||*/

    
.project-boxes {
    margin: 0 auto;
    width: 50vw;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 10px;
    margin-top: 20px;
}

    .project-boxes a {
        text-decoration: none;
        
    }
    
    .project-boxes a:visited {
        color: $default-dark;
    }

    .project-box {
        background: rgba($default-primary,0.5);
        text-align: center;
        padding: 1.5rem 2rem;
        box-shadow: $shadow;
    }

.project-icon {
    border-radius: 5px;
    height: 160px;
    
}

    



/*||| CONTACT |||*/

.contact-container {
    background-color: rgba(0,0,0,0.5);
    color: $default-primary;
    padding: 1rem;
    height: 80vh;
    width: 60vw;
    margin: 0 auto; 
}

.contact-title {
    font-size: 2.3rem;
    text-align: center;
    padding: 10px;
}

.contact-methods {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 1.3rem;

    a {
        text-decoration: none;
    }

    a:visited {
        color: $default-primary;
    }
}



/*||| CONNECT FOUR |||*/

.wrapper-connect {
    text-align: center;
}

#connect_four {
    background-color: $default-primary;
    display: inline-block;
    border: 2px $default-dark solid;
    box-shadow: $shadow;
}

.col.empty-space {
    cursor: pointer;
}

.col {
    width: 140px;
    height: 140px;
    display: inline-block;
    background-color: $default-light;
    border-radius: 50%;
    border: 1px $default-dark solid;
    box-shadow: $shadow inset;
    margin: 5px;
}

.next-red {
    background-color: rgba(255, 0, 0, 0.2);
}

.next-black {
    background-color: rgba(0, 0, 0, 0.2);
}

.col.red {
    background: radial-gradient(red, white); 
}

.col.black {
    background: radial-gradient(black, white);
}

#restart {
    background: $default-primary;
    cursor: pointer;
    margin: 20px;
    padding: 1rem 1.5rem;
}

   
/* ||| SIMON SAYS ||| */

.toggle {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
  }
  
  #switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 26px;
    margin-top: 110px;
  }
  
  .text2 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 83px;
    margin-top: 197px;
  }
  
  .text1 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 19px;
    margin-top: 142px;
  }
  
  .text1 span:last-child {
    padding-left: 70px;
  }
  
  #title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
  }
  
  #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
  
  #outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
    cursor: pointer;
  }
  
  #topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }


/*|||| TIC TAC TOE ||||*/

#t-table {
    display: block;
    position: relative;
    width: 754px;
}

td {
    border: 2px solid #333;
    height: 250px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 7rem;
    cursor: pointer;
    transition: ease 0.1s all;
}

table {
    border-collapse: collapse; /*combines the borders of neighbouring cells to prevent a double-border effect*/
    margin-top: 20px;
    left: 34%;
    position: absolute;
    border: 8px solid $default-dark;
   
}

table tr:first-child td {
    border-top: none;
}


table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}



/*|||| DRAG & DROP ||||*/

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}



.empty {
    display: inline-block;
    background: white;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 3px slateblue;
}

// STOPWATCH //

.stopwatch_container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    text-shadow: 2px 2px #333;
}

.stopwatch {
    font-size: 15em;
    font-family: monospace;
    

}

.laps {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    color: #333333;
    text-shadow: none;
    height: 20vh;
}

.laps li {
    list-style: none;
    padding: 10px 0;
    display: inline-block;
    text-indent: 0.25em;
}



// Rock Paper Scissors //

.rock-paper-scissors-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 75vh;
    font-family: sans-serif;
}

.score {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;

}

.score p {
    text-align: center;
    font-size: 25px;
}

.intro {
    color: white;
    text-shadow: 1px 1px #333;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease ;
}

.intro h1 {
    font-size: 50px;
}

.intro button, .match button {
    width: 150px;
    height: 50px;
    font-size: 20px;;
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    text-align: center;
    font-size: 50px;
}

.hand, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options button {
    text-transform: uppercase;
}


div.fadeOut {
    opacity: 0;
    pointer-events: none; // prevents the INTRO section from being clickable after fade
}

div.fadeIn {
    opacity: 1;
    pointer-events: all; 
}


//   JavaScript-specific classes  //

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

// SNAKE //

#snake-canvas {
    
    margin: 0 auto;
    display: block;
    
}

// DRAWING APP //

#canvas {
    
    border: black 2px solid;
    margin: 0 auto;
    display: block;
    cursor: url("drawing app/img/circle.png"), auto;
}

// Pong //

#pong {
    
    display: block;
    margin: 0 auto;
    cursor: none;
}

.pong-cursor-vanish {
    cursor: none;
}

// TETRIS //

#tetris-score {

    font-size: 3em;
    font-weight: bold;
    color: $default-dark;
    display: block;
    text-align: center;
}

#tetris {
    display: block;
    margin: 0 auto;
    height: 70vh;
}

// MEMORY GAME //

.memory-cells {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    height: 78vh;
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-collapse: collapse;  
}

.mem-button {
    background-image: url(memory-game/resources/background.jpg);
    font-size: 2rem;
    cursor: pointer;
    border: solid 1.25px black;
    border-collapse: collapse;
    transition: all 0.15s ease;

    
}

.mem-button:focus{
    outline: none;
}
    
.memory-cells img {
    padding: 5px;
    width: 6vw;
    pointer-events: none; //allows the JS event listener to 'hear' through the card img 
    
}

.win-container {
   grid-column: 2/4;
   grid-row: 2/4;
   background-color: #006d1b;
   display: none;
   border: black solid 1px;
   text-transform: uppercase;
   font-family: roboto;
   color: white;
   justify-content: center;
   align-items: center;
   font-size: 5vmin; 
   flex-direction: column;
}

.play-again {
    background: white;
    padding: 0.5rem;
    font-family: robto;
    border: 1px black solid;
    border-radius: 5px;
    text-transform: uppercase;
    flex-direction: column;

}

// QUIZ //

#quiz-container{
    margin : 20px auto;
    background-color: white;
    height: 350px;
    width : 750px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#quiz-start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightgrey;
    cursor: pointer;
    position: absolute;
    left: 325px;
    top: 75px;
    color : lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quiz-start:hover{
    border: 3px solid $default-dark;
    color : $default-dark;
}

#q-img{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#q-img img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#q-question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#q-question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#q-choices{
    width : 350px;
    position: absolute;
    right : 75px;
    top : 120px;
    padding : 10px
}
.q-choice{
    display: inline-block;
    width : 135px;
    height: 50px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    margin: 2.5px;
    overflow: hidden;
}
.q-choice:hover{
    border : 2px solid grey;
    // font-weight: bold;
    text-shadow: 0 0 1px black;
}

#q-timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#q-counter{
    font-size: 3em;
}
#q-btime-gauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#q-time-gauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#q-progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog {
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#score-container {
    margin : 20px auto;
    background-color: white;
    opacity: 0.9;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: flex;
}
#score-message {
    position: absolute;
    display: block;
    top: 70px;
    left:290px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    
    
}
#score-container p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#quiz-restart-button {
    position: absolute;
    display: block;
    width : 50px;
    height :50px;
    top:200px;
    left:325px;
    
    
}

#quiz-restart-button img{
    cursor: pointer;
    border-radius: 50%;
}

#quiz-restart-button img:hover {
    opacity: 80%;
}


#q-restart {
    cursor: pointer;
}

// CLOCK //

.clock-main {
    margin: 100px auto;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    background: #ccc;
    width: 400px;
    height: 175px;
    position: relative;
    border-radius: 5px;
}

.clock-badge {
    background: $default-dark;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 95px;
    position: absolute;
    top: -15px;
    left: 35%;
    text-align: center;
    text-transform: uppercase;
    
}

.clock {
    background-color: #ebebee;
    text-align: center;
    font-size: 55px;
    height: 100%;
    font-family: 'Mitr', sans-serif;
    border-radius: 5px;
}


// ALL PROJECT PAGES //

/* This is the div for the info & restart buttons*/

#info-reset {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
    
    
}

#global-info {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px;
    padding-top: 20px;
    height: 60vh;
    width: 60vw;
    margin: 0 auto; 
    text-align: center;
    

    
}

#global-info p {
    color: $default-light;
    font-size: 1.4rem;
    margin: 50px 100px;
    
}

#variable {
    color: red;
    font-weight: bold; 
}

#loop {
    color: yellow;
    font-weight: bold; 
}

#function {
    color: purple;
    font-weight: bold;
    
}

#general-code {
    color: lime;
    font-weight: bold;
}


#global-close {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 450px;
}

#global-close:hover {
    transform: scale(1.2);
    
}



#info-reset img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#info-reset img:hover {
    filter: invert(100%);
}

// MEDIA QUERIES

    @media(max-width: 700px) {
        .top-container {
            grid-template-areas: 
            'showcase showcase'
            'top-box-a top-box-b';
        }

            .showcase h1{
                font-size: 2.5rem;
            }

            .main-nav ul{
                grid-template-columns: 1fr;
                }
            .info {
                grid-template-columns: 1fr;
                }
            
            .info, .btn {
                display: block;
                text-align: center;
                margin: auto;

            } 
        }

        @media (max-width: 500px) {
            .top-container {
                grid-template-areas: 
                'showcase' 
                'top-box-a'
                'top-box-b';
            }    
        }

        @media(max-width: 1200px) {
            .col {
                width: 70px;
                height: 70px;
                display: inline-block;
                background-color: $default-light;
                border-radius: 50%;
                border: 1px $default-dark solid;
                box-shadow: $shadow inset;
                margin: 5px;
            }
        }



    @keyframes animate1 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes animate2 {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(100%);
        }
    }

    @keyframes animate3 {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes animate4 {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(-100%);
        }
    }

// ROCK PAPER SCISSORS ANIMATION //

@keyframes shakePlayer {
    0% {
        transform: translateY(0px);
    }   
    15% {
        transform: translateY(-50px);
    }
    25% {
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-50px);
    }
    50% {
     transform: translateY(0px);
    }
    65% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
};

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }   
    15% {
        transform: translateY(-50px);
    }
    25% {
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
};